// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: rgb(57, 57, 82);
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-blue: rgb(33, 33, 48);
$light-blue: rgb(194, 194, 240);
$dark-black: rgb(32, 32, 32);
$light-black: rgb(90, 90, 90);
$lighter-black: rgb(161, 161, 161);
$gold: rgb(255, 239, 149);
