// Specific CSS for your home-page
body {
  background-color: $darker-black;
  color: white;
  h1, h2, h3, h4, h5 {
    font-weight: bold;
  }
  h4 {
    font-size: 17px;
  }
  h5 {
    font-size: 15px;
  }
}

.main-container {
  // margin-left: 5%;
  // margin-right: 5%;
  display: flex;
  height: 92vh;
}

.second-container {
  height: 92vh;
  overflow: auto;
  padding: 20px;
  width: 100%;
  a {
    text-decoration: none;
  }
}

.home-challenge-link {
  background-color: $dark-blue;
  color: $lighter-black;
  padding: 10px;
  border-radius: 20px;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin: 20px;
  // border: 2px solid $blue;
  box-shadow: 0px 0px 3px 0px rgb(106, 106, 134);
  p {
    margin: 0;
    margin-top: 10px;
  }
  img {
    width: 100px;
  }
}

.home-part {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    margin: 20px 150px;
  }
}
