// Specific CSS for your home-page
body {
  background-color: rgb(33, 33, 48);
  color: white;
  h1, h2, h3, h4, h5 {
    font-weight: bold;
  }
  h4 {
    font-size: 17px;
  }
  h5 {
    font-size: 15px;
  }
}

.main-container {
  margin-left: 5%;
  margin-right: 5%;
}
