.cards-selection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  height: 45vh;
}

.cards-selection-card {
  width: 150px;
  height: 100px;
  padding: 10px;
  background-color: $dark-black;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.384);
  h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.selected {
  box-shadow: 0px 0px 15px 0px rgba(255, 249, 222, 0.384)
}

.card-stars {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 10px;
    margin: 0;
  }
}

.battle-creation-comp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  height: 15vh;
}

.challenges-list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  a {
    text-decoration: none;
    height: 75px;
    margin: 10px;
  }
}

.challenge-card {
  width: 75px;
  height: 75px;
  border-radius: 20px;
  background-color: $dark-blue;
  color: $lighter-black;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    margin: 0;
    width: 100px;
    text-align: center;
  }
}

.challenge-card:hover {
  background-color: $blue;
  color: white;
}

.locked-challenge-card {
  background-color: $lighter-black;
  width: 75px;
  height: 75px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  h2 {
    margin: 0;
    width: 100px;
    text-align: center;
  }
}

.epic-challenges {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-evenly;
  h2 {
    width: 25%;
  }
}

.modal-content {
  background-color: $dark-blue;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  h3 {
    padding: 20px;
    color: $light-blue;
  }
}
