<h1>CHALLENGES</h1>
<%= link_to(controller: 'challenges', action: 'index', side: 'light') do %>
  <h2>LIGHT SIDE</h2>
<% end %>
<%= link_to(controller: 'challenges', action: 'index', side: 'dark') do %>
  <h2>DARK SIDE</h2>
<% end %>
<br>
<%= link_to cards_path do %>
  <h2>MY CARDS</h2>
<% end %>
<%= link_to offers_path do %>
  <h2>OFFERS</h2>
<% end %>
