<h1>CHALLENGES</h1>
<%= link_to(controller: 'challenges', action: 'index', side: 'light') do %>
  <h2>LIGHT SIDE</h2>
<% end %>
<%= link_to(controller: 'challenges', action: 'index', side: 'dark') do %>
  <h2>DARK SIDE</h2>
<% end %>
