<div class="gears-container">
  <div class="g-left-part">
    <div class="g-l-p-up">
      <h2>Currently Used</h2>
    </div>
    <div class="g-l-p-down">
      <h2>Usable Gear</h2>
      <div class="gears-list">
        <% @gears.each do |gear| %>
          <div class="g-l-p-d-gear-card">
            <%# NEED TO ADD PHOTOS TO GEAR FIRST %>
            <%#= gear.photo %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="g-right-part">
    <h2>Details</h2>
  </div>
</div>
