.gears-container {
  display: flex;
  width: 100%;
  height: 87vh;
}

.g-left-part {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.g-l-p-up {
 width: 40%;
 height: 40%;
 padding: 20px;
}

.gear-photo {
  background-color: $dark-blue;
  margin: 0 auto;
  margin-top: 50px;
  width: 150px;
  height: 150px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px rgb(106, 106, 134);
}

.gear-photo-unused {
  background-color: $light-black;
  margin: 0 auto;
  margin-top: 50px;
  width: 150px;
  height: 150px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px $lighter-black;
}

.g-l-p-down {
 width: 100%;
 height: 60%;
 padding: 20px;
}

.g-right-part {
  width: 30%;
  height: 100%;
  background-color: $dark-blue;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px rgb(106, 106, 134);
}

.gears-list {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 90%;
  width: 100%;
}

.g-l-p-d-gear-card {
  background-color: $dark-blue;
  margin: 10px;
  width: 100px;
  height: 100px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px rgb(106, 106, 134);
  img {
    width: 100%;
  }
}
