.pvp-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
  height: 80vh;
}

.pvp-opponent {
  width: 350px;
  height: 350px;
  background-color: $dark-blue;
  color: $lighter-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 0px 3px 0px rgb(106, 106, 134);
}

.pvp-bcs {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.pvp-bc {
  text-align: center;
  img {
    width: 50px;
    max-height: 50px;
    object-fit: contain;
  }
}

.pvp-bc-1 {
  position: absolute;
  top: -80px;
  left: -25px;
}

.pvp-bc-2 {
  position: absolute;
  top: -55px;
  left: 75px;
}

.pvp-bc-3 {
  position: absolute;
  top: -10px;
  left: 30px;
}

.pvp-bc-4 {
  position: absolute;
  top: -10px;
  left: -70px;
}

.pvp-bc-5 {
  position: absolute;
  top: -55px;
  left: -120px;
}
