<div class="cards-show-container">
  <div class="cards-show-unit-part">
    <div class="c-s-u-p-left">

    </div>
    <div class="c-s-u-p-center">
      <div class="c-s-u-p-c-up">

      </div>
      <div class="c-s-u-p-c-down">

      </div>
    </div>
    <div class="c-s-u-p-right">

    </div>
  </div>
  <div class="cards-show-stats-part">

  </div>
</div>
