.navbar-lewagon {
  z-index: 1;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: $dark-blue;
  a {
    color: white !important;
  }
  a:hover {
    color: $light-blue !important;
  }
}

.nav-item {
  p {
    margin: 0;
    color: $light-blue;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.coins-icon {
  width: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
