.players-container {
  text-align: center;
}

.battle-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.players-cards {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
  height: 30vh;
  width: 100%;
}

.battle-mid-part {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.battle-top-part {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-battle-button {
  margin-left: 50px;
  input {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-weight: bold;
    border: 0;
    box-shadow: 0px 0px 15px 0px $light-blue;
  }
  input:hover {
    background-color: $light-blue;
    box-shadow: 0px 0px 30px 0px $light-blue;
  }
}

.player-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // background-color: rgb(20, 20, 20);
  color: rgb(194, 194, 194);
  padding: 0 30px;
  width: 200px;
  height: 250px;
  text-align: center;
  // box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.384);
  h3 {
    font-size: 15px;
    font-weight: bold;
  }
  h5 {
    color: white;
    font-size: 10px;
    font-weight: bold;
  }
  img {
    width: 120px;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.card-playing {
  animation: grow-shrink 1s ease-in-out infinite;
}

@keyframes grow-shrink {
  0% {
    background-color: $dark-blue;
    box-shadow: 0px 0px 0px 0px rgba(46, 46, 66, 0.342);
  }
  50% {
    background-color: rgb(46, 46, 66);
    box-shadow: 0px 0px 25px 0px rgb(70, 70, 99);
  }
  100% {
    background-color: $dark-blue;
    box-shadow: 0px 0px 0px 0px rgba(46, 46, 66, 0.342);
  }
}

.effects {
  display: flex;
}

.effect {
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 5px;
  position: relative;
  cursor: help;
}

.effect::before {
  content: attr(data-title);
  position: absolute;
  top: -50px;
  left: 0;
  padding: 10px;
  background-color: $dark-black;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-out;
  z-index: 1;
}

.effect:hover::before {
  visibility: visible;
  opacity: 1;
}

.curse {
  background-color: red;
}

.boost {
  background-color: green;
}

.skills {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 8vh;
}

.skill-card {
  border-radius: 5px;
  width: 80px;
  height: 80px;
  padding: 20px;
  img {
    width: 100%;
  }
}

.selected-card {
  animation: blinking 1s ease-in-out infinite;
}

@keyframes blinking {
  0% {
    border-bottom: 0px solid $dark-blue;
    border-top: 10px solid $dark-blue;
  }
  50% {
    border-bottom: 10px solid $dark-blue;
    border-top: 0px solid $dark-blue;
  }
  100% {
    border-bottom: 0px solid $dark-blue;
    border-top: 10px solid $dark-blue;
  }
}

.skill-form {

  input {
    background-color: transparent;
    border: none;
    position: relative;
    top: -80px;
    left: -20px;
    width: 100px;
    height: 100px;
  }
}

.red-skill {
  background-color: rgb(206, 114, 114);
}

.blue-skill {
  background-color: $light-blue;
}

.card-hit-points {
  background-color: rgb(42, 255, 42);
  height: 5px;
  min-height: 5px;
  border: 1px solid rgb(194, 194, 194);
}

.card-hit-points-low {
  background-color: red;
  height: 5px;
  min-height: 5px;
  border: 1px solid rgb(194, 194, 194);
}

.card-counter {
  background-color: yellow;
  height: 5px;
  min-height: 5px;
  border: 1px solid rgb(194, 194, 194);
}

.hidden {
  display: none;
}

.blocked {
  pointer-events: none;
  background-color: $light-black;
}

.damage-taken {
  position: relative;
  top: 0;
  left: 0;
  font-size: 30px;
  font-weight: bold;
  animation: damageAnimation 3s ease-out forwards;
}

@keyframes damageAnimation {
  from { opacity: 1; transform: translateY(+100px); height: 50px; }
  to { opacity: 0; transform: translateY(-100px); height: 0px; }
}

.dmg-taken {
  color: $red;
}

.heal-taken {
  color: $green;
}

.unclickable {
  pointer-events: none;
  opacity: 0.5;
}
