.players-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
  height: 300px;
  width: 100%;
}

.player-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  color: rgb(194, 194, 194);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  text-align: center;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.384);
  h5 {
    color: white;
  }
  img {
    width: 40px;
    margin: 0 auto;
  }
}

.card-playing {
  animation: grow-shrink 2s ease-in-out infinite;
}

@keyframes grow-shrink {
  0% {
    box-shadow: 0px 0px 15px 0px rgba(255, 249, 222, 0.384);
  }
  50% {
    box-shadow: 0px 0px 30px 0px rgba(255, 249, 222, 0.384);
  }
  100% {
    box-shadow: 0px 0px 15px 0px rgba(255, 249, 222, 0.384);
  }
}

.skill-card {
  padding: 20px;
  border-radius: 5px;
}

.card-hit-points {
  background-color: rgb(42, 255, 42);
  height: 5px;
  border: 1px solid rgb(194, 194, 194);
}

.card-hit-points-low {
  background-color: red;
  height: 5px;
  border: 1px solid rgb(194, 194, 194);
}

.card-counter {
  background-color: yellow;
  height: 5px;
  border: 1px solid rgb(194, 194, 194);
}
